.feedback-form {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
  background: #fff;
}
.feedback-form > button {
  box-sizing: border-box;

  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form > button:hover {
  background: #6c8cff;
}
.feedback-form > label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 360px;
  height: auto;
}
.feedback-form > label:not(:last child) {
  margin-bottom: 8px;
}

.feedback-form > label > input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-top: 8px;
}
.feedback-form > label > input:hover {
  border: 1px solid #000;
}
.feedback-form > label > input:activ {
  border: 1px solid #808080;
}

.feedback-form > label > textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
  margin-top: 8px;
}
